@model Inforce_Task.Models.Entities.Url

<h1>Short URL Information</h1>

<div>
    <p><strong>Original URL:</strong> @Model.UrlText</p>
    <p><strong>Short URL:</strong> @Model.ShortenUrl</p>
    <p><strong>Created By:</strong> @Model.CreatedBy</p>
    <p><strong>Created Date:</strong> @Model.CreatedDate</p>
</div>
